<button class="button" type="button" data-toggle="modal" data-target="#exampleModal"> Add new User
</button>
<hr>
<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">#</div>
      <div class="col col-2">Email</div>
      <div class="col col-2">Nom et Prenom</div>
      <div class="col col-2">Status</div>
      <div class="col col-2">Privilége</div>
      <div class="col col-2">Action</div>

    </li>
    <li class="table-row" *ngFor="let user of users">
      <div class="col col-1" data-label="id">{{user.id}}</div>
      <div class="col col-3" data-label="Email">{{user.email}}</div>
      <div class="col col-2" data-label="Full Name">{{user.firstName}} {{user.lastName}}</div>
      <div class="col col-2" data-label="Account Status"><button [class]="user.status ?'btn btn-success btn-rounded' :  'btn btn-danger btn-rounded'" disabled>Status</button></div>
      <div class="col col-2" data-label="Account Status"><button [class]="'btn btn-primary btn-rounded'"  disabled>{{user.privilege}}</button></div>
      <div class="col col-2" data-label="Action">
        <div style="display: flex">
          <button class="button-e" data-toggle="modal" data-target="#exampleModal" style="margin-right: 5px" (click)="edit(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button  class="button-e" (click)="delete(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adding new User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="emptyModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  [formGroup]="formSubs" (ngSubmit)="onSubmit()">
          <mat-form-field class="form-group">
            <mat-label
              class="form-label"
              for="Nom"
            >
              <i class="me-3"> <mat-icon> profile</mat-icon></i> Name
            </mat-label>
            <input
              matInput
              type="text"
              id="firstName"
              formControlName="firstName"
              [errorStateMatcher]="matcher"
              name="firstName"
              required
            />
            <mat-error
              *ngIf="firstName?.hasError('required')">
              Nom is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <!-- Identificateur input -->
          <mat-form-field class="form-group">
            <mat-label
              class="form-label"
              for="identificateur"
            >
              <i class="me-3"> <mat-icon> profile</mat-icon></i> last Name
            </mat-label>
            <input
              matInput
              type="text"
              id="lastName"
              formControlName="lastName"
              [errorStateMatcher]="matcher"
              name="lastName"
              required
            />
            <mat-error
              *ngIf="lastName?.hasError('required')">
              lastName is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- Email input -->
          <mat-form-field class="form-group">
            <mat-label
              class="form-label"
              for="EmailSubs"
            >
              <i class="me-3"> <mat-icon> email</mat-icon></i> Email address
            </mat-label>
            <input
              matInput
              type="email"
              id="email"
              formControlName="email"
              [errorStateMatcher]="matcher"
              name="email"
              required
            />
            <mat-error
              *ngIf="email?.hasError('email') && !email?.hasError('required')">
              Please enter a valid <strong>email</strong> address
            </mat-error>
            <mat-error
              *ngIf="email?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
            <mat-label class="form-label" >
              <i class="me-3"><mat-icon>assignment_ind</mat-icon></i> Privilege
            </mat-label>
            <select id="privilege" formControlName="privilege" required>
              <option value="NONE">NONE</option>
              <option value="EDIT">EDIT</option>
              <option value="ADD">ADD</option>
              <option value="DELETE">DELETE</option>
              <option value="ALL">ALL</option>
            </select>
            <mat-error *ngIf="privilege?.hasError('required')">
              Privilege is <strong>required</strong>
            </mat-error>
          <!-- Password input -->
          <div *ngIf="selectedUser.firstName == ''">
            <mat-form-field class="form-group" appearance="fill">
              <mat-label
                class="form-label"
                for="passwordSubs"
              >
                <i class="me-3"><mat-icon>lock</mat-icon></i> Password
              </mat-label>
              <input
                matInput
                type="password"
                id="password"
                formControlName="password"
                [errorStateMatcher]="matcher"
                [type]="'password'"
                name="password"
                required
              />
              <mat-error
                *ngIf="password?.hasError('minlength') && !password?.hasError('required')"
              >
                Password must have <strong>{{password?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have Submitted <strong>{{password?.errors?.['minlength'].actualLength}}</strong> Letters
              </mat-error>
              <mat-error
                *ngIf=" password?.hasError('required')"
              >
                Password is <strong>required</strong>
              </mat-error>

            </mat-form-field>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 10px" (click)="emptyModal()">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
