<div class="mainDiv">
  <div class="cardStyle">
    <form>

      <img src="../../../assets/img/atbLogo.png" id="signupLogo"/>

      <h2 class="formTitle">
        Reset your password and Submit
      </h2>

      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <input type="password" id="password" name="password" required>
      </div>

      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword">
      </div>

      <div class="buttonWrapper">
        <button type="submit" id="submitButton" (click)="resetPassword()" class="submitButton pure-button pure-button-primary">
            Confirm
        </button>
      </div>
    </form>
  </div>
</div>
